h1 {
    color: rgb(117, 80, 80);
    text-transform: uppercase;
    text-align: center;
    font-size: 32px; 
    font-weight: 700;
    font-family: sans-serif;
    /* text-decoration: underline wavy rgb(112, 61, 61); */
    text-decoration: underline overline dashed red 2px;
    letter-spacing: 10px
}
a {
    text-decoration: none;
    font-weight: bold;
}
p {
    line-height: 1.5;
    font-family: monospace;
    font-weight: bold;
    text-transform: capitalize;
}